/* GLOBAL STYLES
#bdef82 SALT
#a8dba8 SUGAR
#79bd9a WINE
#3b8686
*/

.salt-button{
  margin-top: 4%;
  margin-left: 4%;
  color : #bdef82;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  left: 70%;
}

.salt-button:active{
  border-color: white !important;
}

.btn-group-form{
  margin-top: 2%;
}

.salt-add-ingredient-button{
  margin-top: -1%;
  margin-left: 1%;
  color : #bdef82;
  background-color: transparent;
  border-color: transparent;
}

.salt-remove-ingredient-button{
  margin-top: 12%;
  color : #bdef82;
  background-color: transparent;
  border-color: transparent;
}
  

.salt-button:active, .salt-button:focus, .salt-remove-ingredient-button:active, 
.salt-add-ingredient-button:active, .salt-remove-ingredient-button:focus, .salt-add-ingredient-button:focus{
  box-shadow:transparent !important;
  border-color: white !important;
  border-style: none !important;
}

.salt-button-form{
  margin-left: 1%;
  margin-right: 1%;
  background-color: #bdef82 !important;
  border-color:#bdef82 !important;
  color: white;
}

.salt-button-item{
  background-color: white !important;
  border-color: white!important;
  color: #bdef82;
  font-size: 20px;
}

.salt-button-item:active, .salt-button-item:hover{
  color: #bdef82 !important;
  text-decoration: none !important;
}

.salt-button-item:focus{
  box-shadow: none !important;
}

.salt-form {
  margin-bottom: 2%;
}

hr.salt-solid {
  margin-top: 3%;
  border-top: 2px solid #bdef82;
}


@font-face {
	font-family: "Pretty Smile";
	src: url("../Pretty_Smile.otf") format("opentype");
  font-display: auto;
}

