/* GLOBAL STYLES
#E1804D SALT
#B94E4D SUGAR
#F7BA53 WINE
#490A3D HEADER
#AF3162 TITLE
*/

.title-salt{
	font-family: "Pretty Smile";
  color : #E1804D;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.salt-button{
  margin-top: 4%;
  margin-left: 4%;
  color : #E1804D;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  left: 70%;
  font-size: 30px;
}

.salt-button:active{
  border-color: white !important;
}

.btn-group-form{
  margin-top: 2%;
}

.salt-add-ingredient-button{
  margin-top: -1%;
  margin-left: 1%;
  color : #E1804D;
  background-color: transparent;
  border-color: transparent;
}

.salt-remove-ingredient-button{
  margin-top: 12%;
  color : #E1804D;
  background-color: transparent;
  border-color: transparent;
}
  

.salt-button:active, .salt-button:focus, .salt-remove-ingredient-button:active, 
.salt-add-ingredient-button:active, .salt-remove-ingredient-button:focus, .salt-add-ingredient-button:focus{
  box-shadow:transparent !important;
  border-color: white !important;
  border-style: none !important;
}

.salt-button-form{
  margin-left: 1%;
  margin-right: 1%;
  background-color: #E1804D !important;
  border-color:#E1804D !important;
  color: white;
}

.salt-button-item{
  background-color: white !important;
  border-color: white!important;
  color: #E1804D;
  font-size: 18px;
  font-style: italic;
}

.salt-button-item:active, .salt-button-item:hover{
  color: #E1804D !important;
  text-decoration: none !important;
}

.salt-button-item:focus{
  box-shadow: none !important;
}

.salt-form {
  margin-bottom: 2%;
}

hr.salt-solid {
  margin-top: 3%;
  border-top: 2px solid #E1804D;
}


@font-face {
	font-family: "Pretty Smile";
	src: url("../Pretty_Smile.otf") format("opentype");
  font-display: auto;
}

