/* GLOBAL STYLES
#bdef82
#a8dba8
#79bd9a
#79bd9a
*/


.title-win{
	font-family: "Pretty Smile";
  color : #79bd9a;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.wine-button{
  margin-top: 4%;
  margin-left: 4%;
  color : #79bd9a;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  left: 70%;
}

.wine-button::focus:active{
  box-shadow: transparent !important;
}

.btn-group-form{
  margin-top: 2%;
}

.star-bar{
  margin-top: -1%;
  margin-left: 1% !important;
}

.star-wine-add{
  color : #D8D8D8;
  margin-left: 5%;
  cursor: pointer;
}

.star-wine-add:hover, .star-wine-add:active, .star-wine-add:focus{
  color : #79bd9a;
}

.wine-star-form{
  margin-left: 1%;
  margin-right: 1%;
  background-color: transparent !important;
  border-color:transparent !important;
  color: white;
}

.wine-star-form:active, .wine-star-form:focus, .wine-button-form:active, .wine-button-form:focus{
  box-shadow:transparent !important;
}

.wine-button-form{
  margin-left: 1%;
  margin-right: 1%;
  background-color: #79bd9a !important;
  border-color:#79bd9a !important;
  color: white;
}

hr.wine-solid {
  margin-top: 3%;
  border-top: 2px solid #79bd9a;
}

.img-wine{
  border-radius: 0px 0px 10px 10px;
}

@font-face {
	font-family: "Pretty Smile";
	src: url("../Pretty_Smile.otf") format("opentype");
  font-display: auto;
}

.title-win{
	font-family: "Pretty Smile";
  color : #79bd9a;
  margin-top: 5%;
}

.wine-type{
  font-size: small;
  font-style: italic;
  margin-bottom: 0 !important;
}

.wine-desc{
  margin-bottom: 0 !important;
}