/* GLOBAL STYLES
#B94E4D SALT
#B94E4D SUGAR
#F7BA53 WINE
#490A3D
*/

.title-sugar{
	font-family: "Pretty Smile";
  color : #B94E4D;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}


.sugar-button{
  margin-top: 20px;
  margin-left: 4%;
  color : #B94E4D;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  left: 70%;
  font-size: 30px;
}

.sugar-button:active{
  border-color: white !important;
}

.btn-group-form{
  margin-top: 2%;
}

.sugar-add-ingredient-button{
  margin-top: -1%;
  margin-left: 1%;
  color : #B94E4D;
  background-color: transparent;
  border-color: transparent;
}

.sugar-remove-ingredient-button{
  margin-top: 12%;
  color : #B94E4D;
  background-color: transparent;
  border-color: transparent;
}

.sugar-button:active, .sugar-button:focus, .sugar-remove-ingredient-button:active, 
.sugar-add-ingredient-button:active, .sugar-remove-ingredient-button:focus, .sugar-add-ingredient-button:focus{
  box-shadow:transparent !important;
  border-color: white !important;
  border-style: none !important;
}

.sugar-button-form{
  margin-left: 1%;
  margin-right: 1%;
  background-color: #B94E4D !important;
  border-color:#B94E4D !important;
  color: white;
}

.sugar-button-item{
  background-color: white !important;
  border-color: white!important;
  color: #B94E4D;
  font-size: 18px;
  font-style: italic;
}

.sugar-button-item:active, .sugar-button-item:hover{
  color: #B94E4D !important;
}

.sugar-button-item:focus{
  box-shadow: none !important;
}

.sugar-form {
  margin-bottom: 2%;
}

hr.sugar-solid {
  margin-top: 3%;
  border-top: 2px solid #B94E4D;
}



@font-face {
	font-family: "Pretty Smile";
	src: url("../Pretty_Smile.otf") format("opentype");
  font-display: auto;
}

