/* GLOBAL STYLES
#cff09e
#a8dba8
#79bd9a
#3b8686
*/

body {
  padding-top: 3rem;
  padding-bottom: 0;
  color: #5a5a5a;
}

.home-page{
  background-color: #e9ecef;
  width: 100%;
  margin-left: 0 !important;
  height: 100vh;
}

.memo-logo {
  margin-left: 10%;
}

.jumbotron{
  padding-bottom: 1% !important;
  padding-top: 10% !important;
  margin-bottom: 0 !important;
}

.home-desc{
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.content-page{
  margin-top: 5%;
  margin-bottom: 8%;
}

.content-page-home .jumbotron {
  margin-top: 5%;
  padding-top: 0 !important;
}

.nav-item{
  font-size: 20px;
  margin-right: 5%;
}

.salt-icon{
  color: #cff09e;
  font-size: 80px;
}

.sugar-icon{
  color: #a8dba8;
  font-size: 80px;
}

.wine-icon{
  color: #79bd9a;
  font-size: 80px;
}

.description {
  white-space: pre;
}

:focus {
  outline: none !important;
}

.bar-green{
  background-color : #3b8686;
  padding: 0 !important;
}

.home-logo{

  margin-right: -5%;
  margin-left: 5%;
}

.head-green{
	background-color : #cff09e;
}

@font-face {
	font-family: "Pretty Smile";
	src: url("Pretty_Smile.otf") format("opentype");
  font-display: auto;
}

.logo{
	font-family: "Pretty Smile";
	color : #79bd9a
}

.title-salt{
	font-family: "Pretty Smile";
  color : #cff09e;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}


.title-sugar{
	font-family: "Pretty Smile";
  color : #a8dba8;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.title-win{
	font-family: "Pretty Smile";
  color : #79bd9a;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.btn-green {
    background-color: #3b8686 !important;
    border-color: #3b8686 !important;
}

.fileContainer{
  box-shadow: none !important;
  
}

.list-items{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  padding : 0 !important;
}

.img-item{
  margin-bottom: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.title-item h2{
  text-align: center;
  font-size: x-large;
  margin-top: 1% !important;
  margin-bottom: 0 !important;
}

.link-list-items a:hover{
  text-decoration: none !important ;
}

.content-item{
  padding: 8%;
}

.button-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: none !important;
}

.delete-recipe{
  position: absolute;
  top: 0%;
  left: 85%;
  color: #8D8B8B;
  font-size: 20px;
  background-color: transparent;
  border-color: transparent;
}

.user-account{
  color: #cff09e;
  text-align: right;
}

.fileContainer{
  padding: 0 !important;
  margin: 0 !important;
}

.wellcome{
  font-family: "Pretty Smile";
  margin-top: 15%;
  text-align: center;
  color: white;
}

.connexion{
  font-family: "Pretty Smile";
  margin-top: 24%;
  text-align: center;
  color: white;
}

.wrong-password{
  font-size: small;
  color: #C00000;
  font-style: italic;
  margin-bottom: 0 !important;
}

.green-footer{
  background-color: #3b8686;
  width: 100%;
  height: 30px;
}

.not-authorize{
  text-align: center;
  font-style: italic;
  padding-top: 20%;
}

.chooseFileButton{
  background: #343a40 !important;
}

/*
 MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (min-width: 1161px) {
  .login-container {
    margin-top: 40% !important;
  }
  .connexion {
    margin-top: 33% !important;
  }
}

@media (max-width: 1160px) {
  .login-container {
    margin-top: 50% !important;
  }
}

@media (max-width: 980px) {
  .login-container {
    margin-top: 70% !important;
  }
  .connexion {
    margin-top: 35% !important;
  }
}

@media (min-width: 1600px) {
  .login-container {
    margin-left: -20% !important;
  }
}

@media (max-width: 991px) {
  .home-page{
    height: 100% ;
  }
}
