/* GLOBAL STYLES
#bdef82 
#a8dba8
#79bd9a
#3b8686
*/

body {
  padding-top: 3rem;
  padding-bottom: 0;
  color: #5a5a5a;
}

.presetation{
  margin-left: -4%;
}

.navbar-memo li{
  font-size: 18px;
}

.navbar-memo{
  width: 100%;
}

.home-page{
  background-color: #e9ecef;
  width: 100%;
  margin-left: 0 !important;
  height: 100vh;
}


.logo{
	font-family: "Pretty Smile";
  color : #79bd9a;
  font-size: 4.5rem;
}

.logo-home {
	font-family: "Pretty Smile";
  color : #79bd9a;
  font-size: 5.5rem;
  margin-top: 10%;
}

.jumbotron{
  padding-bottom: 1% !important;
  padding-top: 10% !important;
  margin-bottom: 0 !important;
}

.home-desc{
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.content-page{
  margin-top: 5%;
  margin-bottom: 8%;
}

.content-details{
  margin-top: 10%;
  margin-bottom: 8%;
}

.content-page-home .jumbotron {
  margin-top: 5%;
  padding-top: 0 !important;
}

.nav-item{
  font-size: 17px;
  margin-right: 5%;
}

.salt-icon{
  color: #bdef82;
  font-size: 80px;
}

.sugar-icon{
  color: #a8dba8;
  font-size: 80px;
}

.wine-icon{
  color: #79bd9a;
  font-size: 80px;
}

.description {
  white-space: pre-line;
}

.update-details{
  position: absolute;
    left: 80%;
    top: 22%;
}

:focus {
  outline: none !important;
}

.bar-green{
  background-color : #3b8686;
  padding: 0 !important;
}

.home-logo{

  margin-right: -5%;
  margin-left: 5%;
}

.head-green{
	background-color : #bdef82;
}

@font-face {
	font-family: "Pretty Smile";
	src: url("Pretty_Smile.otf") format("opentype");
  font-display: auto;
}

.btn-green {
    background-color: #3b8686 !important;
    border-color: #3b8686 !important;
}

.fileContainer{
  box-shadow: none !important;
  
}

.list-items{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  padding : 0 !important;
}

.img-item{
  margin-bottom: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.title-item h2{
  text-align: center;
  font-size: x-large;
  margin-top: 1% !important;
  margin-bottom: 0 !important;
}

.link-list-items a:hover{
  text-decoration: none !important ;
}

.content-item{
  padding: 8%;
}

.button-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: none !important;
}

.delete-recipe{
  position: absolute;
  top: 0%;
  left: 85%;
  color: #8D8B8B;
  font-size: 20px;
  background-color: transparent;
  border-color: transparent;
}

.user-account{
  color: #bdef82;
  text-align: right;
}

.fileContainer{
  padding: 0 !important;
  margin: 0 !important;
}

.wellcome{
  font-family: "Pretty Smile";
  margin-top: 32%;
  text-align: center;
  color: white;
}

.connexion{
  font-family: "Pretty Smile";
  margin-top: 24%;
  text-align: center;
  color: white;
}

.wrong-password{
  font-size: small;
  color: #C00000;
  font-style: italic;
  margin-bottom: 0 !important;
}

.green-footer{
  background-color: #3b8686;
  width: 100%;
  height: 30px;
}

.not-authorize{
  text-align: center;
  font-style: italic;
  padding-top: 20%;
}

.chooseFileButton{
  background: #343a40 !important;
}

.clic-cursor:hover{
  cursor:pointer;
}
 .account{
  margin-top: 1%;
 }

 .loader{
  z-index: 10000;
  position: absolute;
  left: 48%;
  top: 20%;
 }

 .back-loader {
  filter: blur(5px);
 }
/*
 MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.marketing a {
  color: #5a5a5a;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (min-width: 1161px) {
  .connexion {
    margin-top: 33% !important;
  }
}

@media (max-width: 1160px) {
}

@media (max-width: 980px) {
  .connexion {
    margin-top: 35% !important;
  }
  .my-account-page{
    margin-top: 15%;
}
}

@media (min-width: 1600px) {

}

@media (max-width: 991px) {
  .home-page{
    height: 100% ;
  }

  .logo-home {
    margin-top: 15%;
  }
}

@media (max-width: 768px) {
  .delete-recipe {
    font-size: 25px;
    left: 90%;
  }
  
}

@media (max-width: 767px) {

  .user_card{
    margin-top: 20% !important;
  }
  
  .presetation{
    margin-left: 0 !important;
  }

  .logo-home {
    margin-top: 20%;
    font-size: 4.5rem;
  }

  .logo{
    font-size: 4.5rem;
  }

  .navbar-nav li {
    padding-left: 2%;
    border-top: solid #79bd9a ;
  }
  .btn-deco{
    width: 100%;
    margin: 0 !important;
    padding: 3%;
    margin-top: 0 !important;
  }
  
  .title-win{
    margin-top: 10% !important;
    margin-bottom: 2%;
  }

  .title-salt{
    margin-top: 10% !important;
    margin-bottom: 2%;
  }

  .title-sugar{
    margin-top: 10% !important;
    margin-bottom: 2%;
  }

}

@media (max-width: 728px) {
  .content-details{
    margin-top: 20%;
    margin-bottom: 8%;
  }

  
}

@media (max-width: 660px) {
  .salt-button{
    margin-top: 10% !important;
  }

  .sugar-button{
    margin-top: 10% !important;
  }

  .wine-button{
    margin-top: 10% !important;
  }
}

@media (max-width: 470px) {

  .user_card{
    margin-top: 30% !important;
  }

  .logo-home {
    margin-top: 30%;
    font-size: 4rem;
  }

  .logo{
    font-size: 4rem;
  }

  .salt-button{
    margin-top: 13% !important;
  }

  .title-salt{
    margin-top: 20% !important;
  }

  .sugar-button{
    margin-top: 13% !important;
  }

  .title-sugar{
    margin-top: 20% !important;
  }

  .wine-button{
    margin-top: 13% !important;
  }

  .title-wine{
    margin-top: 20% !important;
  }
}

@media (max-width: 400px) {
  .logo-home {
    margin-top: 30%;
    font-size: 43px;
  }

  .logo{
    font-size: 43px;
  }
}

@media (max-width: 340px) {
  .logo-home {
    margin-top: 40%;
    font-size: 35px;
  }

  .logo{
    font-size: 35px;
  }

  .salt-button{
    margin-top: 25% !important;
  }

  .title-salt{
    margin-top: 25% !important;
  }

  .sugar-button{
    margin-top: 25% !important;
  }

  .title-sugar{
    margin-top: 25% !important;
  }

  .wine-button{
    margin-top: 25% !important;
  }

  .title-wine{
    margin-top: 25% !important;
  }
}