/* GLOBAL STYLES
#cff09e
#a8dba8
#79bd9a
#3b8686
*/

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.jumbotron{
  padding-bottom: 1% !important;
  padding-top: 3% !important;
}

.nav-item{
  font-size: 20px;
  margin-right: 5%;
}

.salt-icon{
  color: #cff09e;
  font-size: 80px;
}

.sugar-icon{
  color: #a8dba8;
  font-size: 80px;
}

.wine-icon{
  color: #79bd9a;
  font-size: 80px;
}

.description {
  white-space: pre;
}

:focus {
  outline: none !important;
}

.bar-green{
  background-color : #3b8686;
  padding: 0 !important;
}

.home-logo{

  margin-right: -5%;
  margin-left: 5%;
}

.head-green{
	background-color : #cff09e;
}

@font-face {
	font-family: "Pretty Smile";
	src: url("Pretty_Smile.otf") format("opentype");
  font-display: auto;
}

.logo{
	font-family: "Pretty Smile";
	color : #79bd9a
}

.title-salt{
	font-family: "Pretty Smile";
  color : #cff09e;
  margin-top: 5%;
}


.title-sugar{
	font-family: "Pretty Smile";
  color : #a8dba8;
  margin-top: 5%;
}

.title-win{
	font-family: "Pretty Smile";
  color : #79bd9a;
  margin-top: 5%;
}

.btn-green {
    background-color: #3b8686 !important;
    border-color: #3b8686 !important;
}

.fileContainer{
  box-shadow: none !important;
  
}

.list-items{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  padding : 0 !important;
}

.img-item{
  margin-bottom: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.title-item h2{
  text-align: center;
  font-size: x-large;
  margin-top: 1% !important;
  margin-bottom: 0 !important;
}

.link-list-items a:hover{
  text-decoration: none !important ;
}

.content-item{
  padding: 8%;
}

.button-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: none !important;
}

.delete-recipe{
  position: absolute;
  top: -3%;
  left: 90%;
  color: #8D8B8B;
  font-size: 17px;
  background-color: transparent;
  border-color: transparent;
}

.user-account{
  color: #cff09e;
  text-align: right;
}

.fileContainer{
  padding: 0 !important;
  margin: 0 !important;
}

.wellcome{
  font-family: "Pretty Smile";
  margin-top: 15%;
  text-align: center;
  color: white;
}

.connexion{
  font-family: "Pretty Smile";
  margin-top: 24%;
  text-align: center;
  color: white;
}

.wrong-password{
  font-size: small;
  color: #C00000;
  font-style: italic;
  margin-bottom: 0 !important;
}
/*
 MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
